<ion-header>
  <ion-toolbar>
    <ion-title>news</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 注意这里有个 '?', 等数据加载完才渲染-->
  <!-- res来自news.page.ts, 里面包含articles -->
  <ion-card *ngFor="let article of res?.articles">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title> {{ article.title }} </ion-card-title>
    </ion-card-header>
    <ion-img [src]="article.urlToImage"></ion-img>
    <ion-card-content>{{ article.description }} </ion-card-content>
  </ion-card>
</ion-content>
