@font-face
  font-family: 'vue-eleme'
  src:  url('fonts/vue-eleme.eot?863ol1')
  src:  url('fonts/vue-eleme.eot?863ol1#iefix') format('embedded-opentype'),
    url('fonts/vue-eleme.ttf?863ol1') format('truetype'),
    url('fonts/vue-eleme.woff?863ol1') format('woff'),
    url('fonts/vue-eleme.svg?863ol1#vue-eleme') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vue-eleme' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-add_circle:before
  content: "\e902"

.icon-arrow_lift:before
  content: "\e903"

.icon-check_circle:before
  content: "\e904"

.icon-close:before
  content: "\e905"

.icon-favorite:before
  content: "\e906"

.icon-keyboard_arrow_right:before
  content: "\e907"

.icon-remove_circle_outline:before
  content: "\e908"

.icon-shopping_cart:before
  content: "\e909"

.icon-thumb_down:before
  content: "\e90a"

.icon-thumb_up:before
  content: "\e90b"

.icon-more:before
  content: "\e901"

.icon-close-thin:before
  content: "\e900"


